{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">

    <div class="card p-4 shadow mx-auto" style="max-width:400px;">

        <h3 class="text-center mb-4">
            Mot de passe oublié
        </h3>

        <form method="post">
            {% csrf_token %}

            <input type="email"
                   name="email"
                   class="form-control mb-3"
                   placeholder="Votre email"
                   required>

            <button class="btn btn-primary w-100">
                Envoyer le lien
            </button>
        </form>

    </div>

</div>

{% endblock %}