{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">

    <h4 class="mb-3 text-center">📊 Dashboard ASBL</h4>

    <!-- Carte -->
    <div class="row mb-3">
        <div class="col-12 col-md-4">
            <div class="card text-white bg-primary shadow text-center">
                <div class="card-body">
                    <h6>Total membres</h6>
                    <h2>{{ total }}</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Derniers membres -->
    <div class="card shadow">
        <div class="card-body">
            <h5>Derniers membres</h5>
            <ul>
                {% for m in derniers %}
                    <li>{{ m.nom }} - {{ m.fonction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}